fastapi
uvicorn[standard]
gunicorn

python-dotenv
python-multipart
pypdf

huggingface-hub
sentence-transformers

sqlalchemy
psycopg2-binary
pgvector

numpy
scikit-learn

requests

google-generativeai
google-genai

starlette
chromadb
pydantic
