fastapi
uvicorn[standard]
gunicorn

python-dotenv
python-multipart
pypdf

huggingface-hub
sentence-transformers

psycopg2-binary
sqlalchemy
pgvector

numpy
scikit-learn

requests

google-generativeai
google-genai

starlette
